body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(180deg, transparent 0%, #000 130%), url("./assets/westerosMap2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: wheat;
  text-shadow: 1px 1px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.westerosBanner{
  text-shadow: 1px 1px black, 1.3px 1.3px wheat, 1.7px 1.7px black, 2px 2px wheat, 2.3px 2.3px black, 2.5px 2.5px wheat, 2.7px 2.7px black;
  
}

h3{
  font-style: italic;
}

.savedTranslationOff{
  display: none;
}

.savedTranslationOn{
  display: block;
}



