html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(180deg, transparent 0%, #000 100%), url("./assets/westerosMap2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  color: white;
  text-shadow: 1px 1px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.westerosBanner{
  text-shadow: 2px 2px 1px black, 2px 2px 1px black, 2px 2px 1px black;
  margin-top: 40px;
  
}

.buttonContainer{
  height: 40vh;
  overflow: hidden;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3{
  font-style: italic;
}


/* DOTHRAKI ME BUTTON STYLES */
#translated{
  color: #3e3e3e;
  height: 30px;
  border: none;
  font-family: 'Cinzel Decorative';
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 3px black;
  border-radius: 20px;
  transition: 0.3s;
}

#translated:hover{
  background: #eab64d;
  cursor: pointer;
}


/* FORM TEXT AREA STYLES */

#text{
  border: none;
  height: 30px;
  width: 30%;
  font-style: italic;
  font-size: 16px;
  border-radius: 1px;
  margin: 20px 0px;
  color: #3e3e3e;
  background: #e4e4e4b3;
}

@media(max-width: 600px){
  #text{
    width: 50%;
  }
}

@media(max-width: 430px){
  #text{
    width: 70%;
  }
}


